/* styles.css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");

* {
    font-family: Poppins, sans-serif !important;
}

/* General body styles */
body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Styles for the outer container */
.outer-container {
    border: 2px solid #dbd9d06f;
    border-radius: 15px;
    padding: 30px;
    width: 320px;
    position: relative;
    background-color: #1e1e1e;
}

/* Styles for the legend */
.outer-container{
    font-size: 20px;
    padding: 0 10px;
    background-color: #1e1e1e;
 
}

/* Styles for the inner container */
.inner-container {
    border: 3px solid #1e1e1e;
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 10px;
    margin-top: -20px;
}

/* Styles for each option */
.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

/* Styles for labels */
.option label {
    font-size: 16px;
}

/* Styles for toggle switches */
.toggle {
    appearance: none;
    width: 40px;
    height: 20px;
    background-color: #555;
    border-radius: 10px;
    position: relative;
    outline: none;
    cursor: pointer;
}

/* Styles for the slider */
.toggle:checked {
    background-color: #00bfff;
}

.toggle:before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
    top: 1px;
    left: 1px;
    transition: 0.3s;
}

.toggle:checked:before {
    transform: translateX(20px);
}